In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
path="/content/drive/MyDrive/amazon_products_dataset.csv"
df=pd.read_csv(path)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
print(df.head())
print(df.tail())

                     title    brand    category  actual_price  discount_price  \
0      Smart Fitness Watch     Dell      Laptop       69890.0         65271.0
1  Laptop with SSD Storage       LG  Smartwatch       66771.0         63977.0
2  High Resolution Monitor       Mi  Headphones       43598.0         39679.0
3         4K Action Camera       HP      Camera       63408.0         58877.0
4      Smart Fitness Watch  Samsung     Monitor       49224.0         45017.0

   rating  rating_count
0     2.6        2128.0
1     2.5        9118.0
2     1.9        2517.0
3     3.7       17533.0
4     4.9       14228.0
                               title    brand    category  actual_price  \
1995  Smartphone with AMOLED Display     Dell     Monitor       24140.0
1996             Smart Fitness Watch       LG  Headphones       65449.0
1997                4K Action Camera     Dell  Smartphone       21358.0
1998        Noise Cancelling Earbuds  OnePlus  Smartwatch       35229.0
1999  Smartphone with AMOLED Display     Boat  Headphones       31662.0

      discount_price  rating  rating_count
1995         20202.0     3.0       16058.0
1996         64559.0     1.1        6655.0
1997         18654.0     3.7        5308.0
1998         31061.0     2.2       19105.0
1999         31047.0     3.2        1064.0

In [ ]:
print(df.shape)
print(df.info)

(2000, 7)
<bound method DataFrame.info of                                title    brand    category  actual_price  \
0                Smart Fitness Watch     Dell      Laptop       69890.0
1            Laptop with SSD Storage       LG  Smartwatch       66771.0
2            High Resolution Monitor       Mi  Headphones       43598.0
3                   4K Action Camera       HP      Camera       63408.0
4                Smart Fitness Watch  Samsung     Monitor       49224.0
...                              ...      ...         ...           ...
1995  Smartphone with AMOLED Display     Dell     Monitor       24140.0
1996             Smart Fitness Watch       LG  Headphones       65449.0
1997                4K Action Camera     Dell  Smartphone       21358.0
1998        Noise Cancelling Earbuds  OnePlus  Smartwatch       35229.0
1999  Smartphone with AMOLED Display     Boat  Headphones       31662.0

      discount_price  rating  rating_count
0            65271.0     2.6        2128.0
1            63977.0     2.5        9118.0
2            39679.0     1.9        2517.0
3            58877.0     3.7       17533.0
4            45017.0     4.9       14228.0
...              ...     ...           ...
1995         20202.0     3.0       16058.0
1996         64559.0     1.1        6655.0
1997         18654.0     3.7        5308.0
1998         31061.0     2.2       19105.0
1999         31047.0     3.2        1064.0

[2000 rows x 7 columns]>

In [ ]:
print(df['category'].unique())
df.isnull().sum()

['Laptop' 'Smartwatch' 'Headphones' 'Camera' 'Monitor' 'Speaker' 'Tablet'
 'Smartphone' nan]

title             0
brand             0
category          2
actual_price      2
discount_price    1
rating            4
rating_count      4
dtype: int64

In [ ]:
df['discount_price'].fillna(df['discount_price'].median(),inplace=True)

/tmp/ipython-input-2010800682.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['discount_price'].fillna(df['discount_price'].median(),inplace=True)

In [ ]:
df.isnull().sum()

title             0
brand             0
category          2
actual_price      2
discount_price    0
rating            4
rating_count      4
dtype: int64

In [ ]:
df['rating'].fillna(df['rating'].mean(),inplace=True)
df['actual_price'].fillna(df['actual_price'].mean(),inplace=True)
df['category'].fillna('unknown',inplace=True)
df['rating_count'].fillna(df['rating_count'].median(),inplace=True)

/tmp/ipython-input-3514395927.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mean(),inplace=True)
/tmp/ipython-input-3514395927.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['actual_price'].fillna(df['actual_price'].mean(),inplace=True)
/tmp/ipython-input-3514395927.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['category'].fillna('unknown',inplace=True)
/tmp/ipython-input-3514395927.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_count'].fillna(df['rating_count'].median(),inplace=True)

In [ ]:
df.isnull().sum()

title             0
brand             0
category          0
actual_price      0
discount_price    0
rating            0
rating_count      0
dtype: int64

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

(2000, 7)

In [ ]:
df.dtypes

title              object
brand              object
category           object
actual_price      float64
discount_price    float64
rating            float64
rating_count      float64
dtype: object

In [ ]:
df=df.reset_index(drop=True)

In [ ]:
df.groupby('category')['actual_price'].nlargest(5)

category
Camera      98      79781.0
            1358    79669.0
            965     78983.0
            1414    78762.0
            1538    78437.0
Headphones  1403    79857.0
            1395    79680.0
            1827    78872.0
            224     78845.0
            309     78591.0
Laptop      1383    79993.0
            402     79736.0
            1498    79326.0
            1815    79229.0
            1169    79140.0
Monitor     1974    79869.0
            1351    79853.0
            1772    79396.0
            1812    79272.0
            910     79229.0
Smartphone  718     79765.0
            746     79112.0
            1229    78312.0
            239     78302.0
            923     77304.0
Smartwatch  42      79826.0
            77      79379.0
            1688    78152.0
            733     78033.0
            246     77906.0
Speaker     905     79701.0
            671     79635.0
            1345    79615.0
            902     78818.0
            21      78689.0
Tablet      167     79676.0
            969     79483.0
            1362    79275.0
            797     79163.0
            747     78582.0
unknown     991     43917.0
            1079    23304.0
Name: actual_price, dtype: float64

In [ ]:
df.groupby('brand').size().sort_values(ascending=False).head(1)

brand
Boat    214
dtype: int64

In [ ]:
df.groupby('brand')['discount_price'].mean()

brand
Apple      35889.731579
Boat       36353.115888
Dell       37570.078531
HP         38354.180583
JBL        37380.390821
LG         35108.571154
Mi         36542.437569
OnePlus    39090.550490
Samsung    37931.150732
Sony       37102.337019
Name: discount_price, dtype: float64

In [ ]:
filtered = df[(df['rating'] >= 4.5) & (df['rating_count'] >= 2000)].reset_index(drop=True)
filtered.head()

,title,brand,category,actual_price,discount_price,rating,rating_count
0,Smart Fitness Watch,Samsung,Monitor,49224.0,45017.0,4.9,14228.0
1,4K Action Camera,OnePlus,Smartphone,7793.0,5953.0,4.6,5066.0
2,Wireless Bluetooth Headphones,Dell,Headphones,61569.0,59372.0,4.5,13402.0
3,Laptop with SSD Storage,Boat,Smartwatch,76286.0,75621.0,5.0,7433.0
4,Gaming Laptop,Samsung,Tablet,45250.0,44710.0,4.7,4643.0

In [ ]:
df.groupby('category', observed=True)['actual_price'].mean().sort_values(ascending=False)

category
Laptop        40822.874477
Camera        40352.246094
Monitor       39949.431596
Tablet        39943.815217
Speaker       39683.449141
Headphones    39576.147679
Smartwatch    38316.913934
Smartphone    37909.529412
unknown       33610.500000
Name: actual_price, dtype: float64

In [ ]:
import numpy as np
df['discount_percent'] = ((df['actual_price'] - df['discount_price']) / df['actual_price']) * 100
df['price_category'] = df['actual_price'].apply(
    lambda x: 'Budget' if x < 500
    else ('Midrange' if x < 2000
          else 'Premium')
)

df['popularity_score'] = df['rating'] * np.log(df['rating_count'] + 1)
print(df.head())

                     title    brand    category  actual_price  discount_price  \
0      Smart Fitness Watch     Dell      Laptop       69890.0         65271.0
1  Laptop with SSD Storage       LG  Smartwatch       66771.0         63977.0
2  High Resolution Monitor       Mi  Headphones       43598.0         39679.0
3         4K Action Camera       HP      Camera       63408.0         58877.0
4      Smart Fitness Watch  Samsung     Monitor       49224.0         45017.0

   rating  rating_count  discount_percent price_category  popularity_score
0     2.6        2128.0          6.608957        Premium         19.924860
1     2.5        9118.0          4.184451        Premium         22.795289
2     1.9        2517.0          8.988944        Premium         14.879318
3     3.7       17533.0          7.145786        Premium         36.156019
4     4.9       14228.0          8.546644        Premium         46.858883

In [ ]:
df.groupby('category')['popularity_score'].nlargest(10)

category
Camera    297     48.928304
          502     48.625690
          1293    47.767502
          381     47.491407
          215     46.636622
                    ...
Tablet    1707    45.702472
          757     45.245443
          384     45.078826
unknown   1079    42.664761
          991     40.557298
Name: popularity_score, Length: 82, dtype: float64

In [ ]:
filter_df=df[df['price_category'].apply(lambda x:x=='Premium') & df['discount_percent'].apply(lambda y:y>40)]
filter_df['category']

6           Laptop
20      Headphones
53          Camera
74         Monitor
104         Tablet
           ...
1793    Headphones
1834    Headphones
1841    Smartwatch
1875        Laptop
1879        Tablet
Name: category, Length: 82, dtype: object

In [ ]:
bluetooth_df = df[df['title'].str.contains('Bluetooth', case=False, na=False)]
bluetooth_df.head()

,title,brand,category,actual_price,discount_price,rating,rating_count,discount_percent,price_category,popularity_score
14,Portable Bluetooth Speaker,OnePlus,Camera,25516.0,24050.0,1.7,16989.0,5.745415,Premium,16.558646
18,Portable Bluetooth Speaker,Sony,Monitor,73590.0,69414.0,3.8,9759.0,5.674684,Premium,34.906981
21,Wireless Bluetooth Headphones,Samsung,Speaker,78689.0,76240.0,2.9,10196.0,3.112252,Premium,26.766562
23,Portable Bluetooth Speaker,HP,Smartwatch,4342.0,4235.0,1.4,4820.0,2.464302,Premium,11.873031
25,Wireless Bluetooth Headphones,Boat,Monitor,14689.0,13286.0,3.7,1849.0,9.551365,Premium,27.834881